#rotator{
    width:1200px; 
    height:500px; 
    position:relative; 
    overflow:hidden;  
    position:relative;
    margin-left: auto;
    margin-right: auto
}

#rotator .images{
    width:1000%; 
    position:relative; 
    z-index:1;
}

#rotator .images .imageHolder{
    width:1200px; 
    float:left; 
    height:500px; 
    position:relative;
}

#rotator .images .imageHolder img{
    width:1200px;  
    height:500px; 
    position:absolute; 
    display:block; 
    top:0; 
    left:0; 
    z-index:3;
}

span{
    font-size: 30px;
    color: lightgray;
    font-weight: 900;
    position: absolute;
    top: 250px !important;
    z-index: 2;
    cursor: pointer;
}